.intro {
  font-family: "Bree Serif";
  z-index: 99999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-censorship-switch {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    // margin-right: 20%;
  }
  &-header {
    margin: 0;
    font-size: 60px;
    color: darkslateblue;
    // text-decoration: underline;
    border-bottom: darkslateblue solid 4px;
  }
  &-description {
    margin: 0;
    font-weight: 400;

    color: rgb(33, 24, 90);
  }
  &-current {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid white 1px;
    background-color: whitesmoke;
    border-radius: 8px;
    width: 70%;
    height: 70%;
    padding: 20px;
  }
  &-button {
    font-size: 1.5rem;
    background-color: darkslateblue;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 8px;
    color: white;
    font-weight: 800;
    outline: none;
    padding: 10px;
    margin: 5px 10px;
    cursor: pointer;
    &-container {
      height: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // justify-content: center;
  align-items: center;
  height: 80%;
  &-image {
    width: 80%;
    height: 80%;
    &-container {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 300px;
      height: 300px;
    }
    &__duck-hunt {
      width: 350px;
      height: 300px;
      //   margin: 50px;
    }
    &__nav {
      // margin-bottom: 10%;
      margin-top: 150px;
      border-radius: 8px;
      width: 302px;
      height: 79px;
      &-bonus {
        margin-top: 1%;
        border-radius: 8px;
        width: 300px;
        height: 300px;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 44px;
  // height: 100%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  transform: scale(1.2);
  margin: 0 0 2px 2px;
}

input:checked + .slider {
  background-color: mediumaquamarine;
}

input:focus + .slider {
  box-shadow: 0 0 1px mediumaquamarine;
}

input:checked + .slider:before {
  -webkit-transform: scale(1.2) translateX(26px);
  -ms-transform: scale(1.2) translateX(26px);
  transform: scale(1.2) translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

.slider.round:before {
  border-radius: 50%;

  //   height: 100%;
  //   width: 100%;
}
h5 {
  font-size: 14px;
  //   color: white;
  color: rgb(223, 223, 223);

  font-weight: lighter;
}
@media only screen and (max-height: 850px) {
  .intro {
    &-censorship-switch {
      width: 50%;
    }
    &-header {
      margin: 0;
      font-size: 40px;
      color: darkslateblue;
      border-bottom: darkslateblue solid 4px;
    }
    &-description {
      font-size: 15px;
      font-weight: 400;
    }
    &-current {
      width: 50%;
    }
    &-button {
      font-size: 1rem;
      margin: 5px;
    }
  }
  .page {
    height: 80%;
    &-image {
      width: 80%;
      height: 80%;
      &-container {
        width: 300px;
        height: 300px;
      }
      &__duck-hunt {
        width: 250px;
        height: 200px;
      }
      &__nav {
        margin-top: 50px;
        &-bonus {
          width: 140px;
          height: 140px;
        }
      }
    }
  }
}
@media only screen and (max-height: 650px) {
  .page {
    height: 80%;
    &-image {
      width: 80%;
      height: 80%;
      &-container {
        width: 250px;
        height: 250px;
      }
      &__duck-hunt {
        width: 200px;
        height: 150px;
      }
      &__nav {
        margin-top: 25px;
        &-bonus {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1025px) {
  .intro {
    &-censorship-switch {
    }
    &-header {
      margin: 10px 0;
      font-size: 40px;
      border-bottom: darkslateblue solid 3px;
    }
    &-description {
      margin-top: 15px;
      font-weight: 300;
    }
    &-current {
      width: 80%;
      height: 80%;
    }
    &-button {
      font-size: 1.5rem;
      &-container {
      }
    }
  }
  .page {
    &-image {
      width: 250px;
      height: 250px;
      margin-top: 30px;
      &__duck-hunt {
        width: 300px;
        height: 250px;
        //   margin: 50px;
      }
      &__nav {
        margin-top: 8%;
        width: 302px;
        height: 79px;
        &-bonus {
          margin-top: 1%;
          border-radius: 8px;
          width: 300px;
          height: 300px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    &-censorship-switch {
    }
    &-header {
      margin: 10px 0;
      font-size: 20px;
      border-bottom: darkslateblue solid 3px;
    }
    &-description {
      font-size: 13px;
      margin-top: 15px;
      font-weight: 300;
    }
    &-current {
    }
    &-button {
      font-size: 0.6rem;
      &-container {
      }
    }
  }
  .page {
    &-image {
      width: 200px;
      height: 200px;
      margin-top: 10px;
      &__duck-hunt {
        width: 250px;
        height: 200px;
        //   margin: 50px;
      }
      &__nav {
        margin-top: 8%;
        width: 260px;
        height: 68px;
        &-bonus {
          margin-top: 1%;
          border-radius: 8px;
          width: 230px;
          height: 230px;
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .intro {
    &-censorship-switch {
    }
    &-header {
    }
    &-description {
    }
    &-current {
    }
    &-button {
      &-container {
      }
    }
  }
  .page {
    &-image {
      width: 180px;
      height: 180px;
      margin-top: 50px;
      &__duck-hunt {
        margin-top: 50px;

        width: 230px;
        height: 180px;
        //   margin: 50px;
      }
      &__nav {
        margin-top: 50px;
        width: 208px;
        height: 54px;
        &-bonus {
          margin-top: 50px;

          border-radius: 8px;
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
