.legend {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  &__section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10px;

    &-label {
      font-size: 20px;
      word-spacing: 5px;
      font-family: "Bree serif";
    }
    &-icon {
      margin: 0 5px;
      width: 25px;
      height: 25px;
    }
  }
}
.duck {
  background-color: rgb(255, 208, 0);
}
.bullet {
  // transform: rotate(90deg);

  background-color: rgb(233, 76, 14);
}

img {
  width: 20px;
  height: 20px;
}
.unvisited-legend {
  background-color: lightgray;
}
.visited-legend {
  background-color: rgb(114, 77, 156);
}
.wall-legend {
  background-color: rgba(4, 4, 44, 0.8);
}

@media only screen and (max-width: 768px) {
  .legend {
    justify-content: space-evenly;
    &__section {
      justify-content: space-evenly;
    }
    &__item {
      justify-content: space-evenly;
      margin: 0 5px;

      &-label {
        font-size: 15px;
        word-spacing: 2px;
      }
      &-icon {
        margin: 0 3px;
        width: 18px;
        height: 18px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .legend {
    margin: 0;
    &__section {
    }
    &__item {
      margin: 0 5px;

      &-label {
        font-size: 8px;
        word-spacing: 0px;
      }
      &-icon {
        margin: 0;
        width: 10px;
        height: 10px;
      }
    }
  }
  img {
    width: 15px;
    height: 15px;
  }
}
