.nav {
  border: solid 1px black;
  padding: 10px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  background-color: darkslateblue;
  font-family: "Bree Serif";
  &__items {
    display: flex;
    flex-direction: row;
  }
  &__button {
    background-color: darkslateblue;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 8px;
    color: white;
    font-weight: 800;
    outline: none;
    padding: 0 5px;
    margin: 0 1px;
    cursor: pointer;

    &.go {
      width: 80px;
      font-size: 2rem;
      padding: 0 10px;
      //   color: mediumspringgreen;
      //   border-radius: 0;
      background-color: rgb(24, 177, 118);
      //   border: 1px solid mediumspringgreen;
      border: 1px solid white;

      &:hover {
        background-color: rgb(0, 255, 170);
      }
    }
  }
  &__select {
    background-color: darkslateblue;
    border-radius: 8px;
    color: white;
    font-weight: 800;
    text-align-last: center;
    outline: none;
    font-size: 1.3rem;
    padding: 0 10px;
    cursor: pointer;

    &_option {
      background: rgb(25, 17, 65);
      font-size: 1.3rem;
      font-weight: 800;
      cursor: pointer;
    }
  }
  &__wall_self {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    margin: 0 3px;
  }
}
