.nav {
  border: solid 1px black;
  padding: 10px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-between;
  background-color: darkslateblue;
  font-family: "Bree Serif";
  &-image {
    height: 40px;
    width: 40px;
    filter: brightness(10);
    cursor: pointer;
  }
  &__items {
    display: flex;
    flex-direction: row;
  }
  &__button {
    background-color: darkslateblue;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 8px;
    color: white;
    font-weight: 800;
    outline: none;
    padding: 0 5px;
    margin: 0 1px;
    cursor: pointer;

    &.go {
      width: 80px;
      font-size: 2rem;
      padding: 0 10px;
      //   color: mediumspringgreen;
      //   border-radius: 0;
      background-color: rgb(24, 177, 118);
      //   border: 1px solid mediumspringgreen;
      border: 1px solid white;

      &:hover {
        background-color: rgb(0, 255, 170);
      }
    }
  }
  &__select {
    background-color: darkslateblue;
    border-radius: 8px;
    color: white;
    font-weight: 800;
    text-align-last: center;
    outline: none;
    font-size: 1.3rem;
    padding: 0 10px;
    cursor: pointer;

    &_option {
      background: rgb(25, 17, 65);
      font-size: 1.3rem;
      font-weight: 800;
      cursor: pointer;
    }
  }
  &__wall_self {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    margin: 0 3px;
  }
}
@media only screen and (max-height: 850px) {
  .nav {
    height: 40px;
    padding: 0;
    align-items: center;
    &-image {
      height: 25px;
      width: 25px;
    }
    &__button {
      &.go {
        width: 80px;
        font-size: 1.5rem;
      }
    }
    &__select {
      font-size: 0.8rem;

      &_option {
        font-size: 0.8rem;
      }
    }
  }
}
@media only screen and (max-height: 650px) {
  .nav {
    height: 30px;
    // padding: 0;
    // align-items: center;
    &-image {
      height: 16px;
      width: 16px;
    }
    &__button {
      &.go {
        font-size: 1rem;
      }
    }
    &__select {
      font-size: 0.5rem;
      &_option {
        font-size: 0.5rem;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    justify-content: space-between;
    align-items: space-between;
    &__button {
      font-weight: 600;
      padding: 0 2px;
      margin: 0 1px;
      &.go {
        width: 80px;
        font-size: 1.3rem;
        padding: 0 5px;
      }
    }
    &__select {
      font-weight: 600;
      font-size: 1rem;
      padding: 0 5px;
      &_option {
        font-size: 1rem;
        font-weight: 600;
      }
    }
    &__wall_self {
      padding: 0 1px;
      margin: 0 1px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .nav {
    padding: 10px;
    height: auto;
    justify-content: space-between;
    align-items: space-between;
    &__button {
      font-weight: 600;
      padding: 0 2px;
      margin: 0 1px;
      &.go {
        width: 60px;
        font-size: 1rem;
        padding: 0 2px;
      }
    }
    &__select {
      font-weight: 600;
      font-size: 0.7rem;
      padding: 0 1px;
      &_option {
        font-size: 0.7rem;
        font-weight: 600;
      }
    }
    &__wall_self {
      padding: 0 1px;
      margin: 0;
    }
  }
}
