table {
  border-collapse: collapse;
  border: solid 2px darkslateblue;
}
tr {
  display: flex;
}
td {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
  width: 20px;
  height: 20px;
  font-size: 0px;
  border-radius: 1px;
  padding: 1px;
}

.starting {
  // background-color: rgb(151, 125, 151);
  background-color: rgb(233, 76, 14);
  // transform: rotate(90deg);
  background-image: url("../Images/feathered-arrow.png");
  background-size: contain;
  background-position: center;
  border-radius: 10%;
}
.ending {
  // border: solid 4px tomato;
  // background-color: mediumaquamarine;
  background-color: rgb(255, 208, 0);
  background-image: url("../Images/duck.png");
  background-size: contain;
  background-position: center;
  border-radius: 10%;
}
.ending-acquired {
  background-color: mediumaquamarine;
}

// .path {
//   background-color: tomato;
//   transition: background 10ms linear;
// }
.wall {
  border: none;
  /* background-color: gray; */
  animation-name: wallAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.unvisitedAnimated {
  animation-name: unvisitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* animation-play-state: running; */
}
.unvisited {
  background-color: lightgray;
  transition: all ease-in-out;
}
.visited {
  border: purple solid 1px;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes wallAnimation {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 66, 0.75);
  }
  50% {
    transform: scale(0.8);
  }

  100% {
    background-color: rgba(4, 4, 44, 0.8);
  }
}
@keyframes unvisitedAnimation {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 66, 0.75);
  }
  50% {
    transform: scale(0.8);
    background-color: rgba(250, 24, 67, 0.75);
  }
  75% {
    transform: scale(0.5);
    background-color: rgba(184, 121, 129, 0.75);
  }
  100% {
    /* transform: scale(1); */
    background-color: lightgray;
  }
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    /* border-radius: 100%; */
  }
  50% {
    background-color: rgba(250, 24, 67, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(200, 37, 59, 0.75);
  }
  100% {
    transform: scale(1);
    background-color: rgb(114, 77, 156);
  }
}
@media only screen and (max-height: 900px) {
  td {
    width: 19px;
    height: 19px;
  }
}
@media only screen and (max-height: 850px) {
  td {
    width: 18px;
    height: 18px;
  }
}
@media only screen and (max-height: 750px) {
  td {
    width: 16px;
    height: 16px;
  }
}
@media only screen and (max-height: 650px) {
  td {
    width: 14px;
    height: 14px;
  }
}
@media only screen and (max-height: 550px) {
  td {
    width: 12px;
    height: 12px;
  }
}
@media only screen and (max-height: 500px) {
  td {
    width: 10px;
    height: 10px;
  }
}
@media only screen and (max-height: 450px) {
  td {
    width: 9px;
    height: 9px;
  }
}
@media only screen and (max-width: 1366px) {
  td {
    width: 15px;
    height: 15px;
  }
}
@media only screen and (max-width: 1025px) {
  td {
    width: 12px;
    height: 12px;
  }
}
@media only screen and (max-width: 768px) {
  tr {
    display: block;
    float: left;
  }
  td {
    display: block;
    width: 10px;
    height: 10px;
  }
}
@media only screen and (max-width: 500px) {
  td {
    width: 6px;
    height: 6px;
    padding: 1px;
  }
}
