*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  border-collapse: collapse;
}
tr {
  display: flex;
}
td {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px lightgray;
  width: 20px !important;
  height: 20px !important;
  font-size: 0px;
  border-radius: 20px;
}

.starting {
  background-color: teal;
}
.ending {
  background-color: black;
}

.path {
  background-color: tomato;
  transition: background 10ms linear;
}
.unvisited {
  background-color: white;
}
.visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(250, 24, 67, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(200, 37, 59, 0.75);
  }
  100% {
    transform: scale(1);
    background-color: orangered;
  }
}
